:root{
    --color-primary: rgb(11, 43, 139);
    --color-secondary: rgb(19, 96, 190);
    --color-tertiary: rgb(29, 21, 138);
    --color-light: rgb(245, 241, 241);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: montserrat, sams-serrif;
    background-color:rgb(8, 31, 63);
    background: url("./assets/richiwin.jpeg") no-repeat center center/cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


nav{
    position: fixed;
    width: 100%;
    z-index: 10;
  
}

nav .container {
    width: 86%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

nav .container img {
    width: 3.2rem;
}

nav .container #shownav,
nav .container #togglenav {
    display: none;
}

nav .container ul {
display: flex;
gap: 4rem;
}

a {
    color: yellow;
    text-transform: uppercase;
    font-size: 0.8rem;
    transition: all 300ms ease;
}

a:hover {
    color: var(--color-tertiary)
}

section {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100%;
    text-align: center;
    color: var(---color-light);
    position: relative;
    top: 3rem;
}

section .container h1 {
    font-size: 10rem;
    text-transform: uppercase;
}

section .container h3 {
    text-transform: uppercase;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

section .container input[type="search"] {
    background: transparent;
    border: 1px solid var[--color-light];
    border-radius: 2rem;
    padding: 0.7rem 1.5rem;
    color: var[--color-light];
    letter-spacing: 0.1rem;
    margin-bottom: 0.1rem;
}

section .container input[type="search"]::placeholder{
    color: var(--color-light);
    letter-spacing: 0.1rem;
}

section .container p {
    letter-spacing: 0.06rem;
    font-size: 0.8rem;
    line-height: 1.7;
    font-weight: 300;max-width: 40rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}

section .container a {
    background: linear-gradient(
        to right,
        var[--color-secondary]
        var[--color-primary]
        );
        padding: 0.7rem;
        margiin: 0.4rem;
    border-radius: 2rem;
    position: relative;
    transition: all 300ms ease;
    }

    section .container a::before{
    content: "";
    position: absolute;
    top: 0;left: -0.5rem;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    border-left: 5px solid var(--color-primary);
    }
     h1{
            padding: 1rem;
            color:white;
         }
         h3{
            padding: 1rem;
            color:yellow;
         }
           p{
            padding: 1rem;
            color:white;
         }

    section .container a:hover{
        background: linear-gradient(
            to right,
              var[--color-secondary]
            var[--color-primary]
        );
    }

    @media screen and (max-width: 700px) {
        nav .container{
            width: 100%;
            padding: 1rem;
            background: var(--color-secondary);
        }
        nav img {
            margin-left: 1rem;
        }

        nav .container #togglenav { 
            display: inline-block;
            color: var(--color-light);
            font-size: 2rem;
            margin-right: 1rem;
            cursor: pointer;
        }

        nav .container #togglenav:hover{
            color: var(--color-tertiary);
        }
        nav .container #shownav:checked ~ul {
            display: block;

        }
        nav .container ul {
            display: none;
            position: absolute;
            top: 100%;
            width: 100%;
         }
                
         nav .container ul li {
            text-align: center;
            background: var(--color-primary);
            padding: 2rem 0;
            transition: all 300ms ease;
            cursor: pointer;
         }
         nav .container ul li:hover {
            background: var(--color-tertiary);
         }
         section .container h1{
            font-size: 5.3rem;
         }
         section .container h3{
            font-size: 1.3rem;
            color:yellow;
         }
         p{
            padding: 1rem;
            color:white;
         }
         h1{
            padding: 1rem;
            color:white;
         }
         section .container a{
            padding: 1rem;
         }
    }
 